#wrapper
{
	width:800px;
	height:auto;
	margin:20px auto;
	background:url(images/Desain_nurma_02.gif);
	box-shadow:20px -8px 20px black;
}

#header
{
	width:800px;
	height:238px;
	background:url(images/Desain_nurma_01.gif);
	margin:auto;
}

#menu
{
	width:800px;
	height:35px;
	margin:auto;
	background:#C39;
}

#kiri
{
	width:430px;
	height:auto;
	margin-top:5px;
	margin-left:20px;
	margin-right:40px;
	background:url(images/Desain_nurma_02.gif);
}

#kanan
{
	float:right;
	width:310px;
	margin:auto;
	clear:both;
}

#footer
{
	width:800px;
	height:75px;
	background:url(images/Desain_nurma_04.gif);
	color:#000;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	clear:both;
	padding-top:50px;
}

.teks
{
	color:#0F6;
	font-family:"Kristen ITC";
	font-size:14px;
	font-weight:bold;
}

.gambar
{
	widht:100px;	
	height:160px;
}

.gambar:hover
{
	widht:150px;
	height:210px;
}
